.slick-slider{
    width: 80vw !important;
}

<<<<<<< HEAD

=======
.circle-card{
    
}
>>>>>>> 747870b38515ef1779bcf46fe11f813705211a50
.card-img{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    text-align: center;
    position: relative;
    left: 20%;
    box-shadow: -10px -10px 10px rgba(102, 97, 97, 0.25),
    10px 10px 10px rgba(19, 194, 124, .40);
    margin: 20px 0;

}
.Carousel-outer-div{
    background-color:  rgba(77,77,77,0.2);
    padding: 2%;
    border-radius: 20px 20px 0 0;
    width: 85vw;
   
}
<<<<<<< HEAD
/* .slick-next{
    left: 94% !important;
} */
=======
.slick-next{
    left: 94% !important;
}
>>>>>>> 747870b38515ef1779bcf46fe11f813705211a50
.slick-prev{
    left: 0 !important;
}

.carousel-heading{
    color: white;
    position: relative;
    left: 50px;
    margin: 3% 0;
}

.Domain-name{
    text-align: center;
    position: relative;
    right: 5%;
    font-size: 1.5rem;
    font-weight: lighter;
    color: white;
    /* margin: 10% 0;
    /* margin-top: 7.5%;
    margin-bottom: 5%; */ 
}
.timeline-heading{
    color: white;
    position: relative;
    left: 50px;
    top: 50px;
    margin: 3% 0;
}
.slick-dots li button:before{
    opacity: 100 ;
    color: #14CC7F ;
}
<<<<<<< HEAD
.Timeline{
    color: #14CC7F !important;
    position: relative;
    top: 50px ;
    margin-bottom: 5%;

}
/* .TimelineSeparator{
    color: #14CC7F !important;
} */
.TimelineConnector{
    background-color: #14CC7F !important;
}
.TimelineDot{
    background-color: #14CC7F !important;

}


@media only screen and (max-width: 600px){
    .Carousel-outer-div{
        margin-top: 30%;
        width: 70vw;
        overflow: hidden;
    
      }
      .carousel-heading{
        font-size: 2.5rem;
      }
      .slick-next{
        left: 78% !important;
      }
      .card-img{
        height: 150px;
        width: 150px;
      }
=======
.css-55vwbm-MuiTimeline-root{
    position: relative ;
    top: 50px ;
    margin-bottom: 5%;
}
.css-55vwbm-MuiTimeline-root{
    color: #14CC7F !important;
}

.css-v6mo1y-MuiTimelineDot-root{
    background-color: #14CC7F !important;
}
.css-1ami7lv-MuiTimelineConnector-root{
    background-color: #14CC7F !important;
    height: 50px;
>>>>>>> 747870b38515ef1779bcf46fe11f813705211a50
}