.slick-slider {
  width: 80vw !important;
}

.card-img {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  text-align: center;
  position: relative;
  left: 15%;
  box-shadow: -10px -10px 10px rgba(102, 97, 97, 0.25),
    10px 10px 10px rgba(19, 194, 124, 0.4);
  margin: 20px 0;
}
.Carousel-outer-div {
  background-color: rgba(77, 77, 77, 0.2);
  padding: 2%;
  border-radius: 20px;
  width: 85vw;
  margin-bottom: 5%;
}

/* .slick-next{
    left: 94% !important;
} */
.slick-prev {
  left: 0 !important;
}

.carousel-heading {
  color: white;
  text-align: center;
  margin: 3% 0;
  font-size: 2.5rem;
}

.Domain-name {
  text-align: center;
  
  font-size: 1.5rem;
  font-weight: lighter;
  color: white;
  position: relative;
  right: 10%;
  /* margin: 10% 0;
    /* margin-top: 7.5%;
    margin-bottom: 5%; */
}
.timeline-heading {
  color: white;
  text-align: center;
  position: relative;
  /* left: 50px; */
  top: 50px;
  margin: 3% 0;
}
.slick-dots{
  position: static !important;
}
.slick-dots li button:before {
  opacity: 100;
  color: #14cc7f !important;
}
.Timeline {
  color: #14cc7f !important;
  position: relative;
  top: 50px;
  margin-bottom: 5%;
}
/* .TimelineSeparator{
    color: #14CC7F !important;
} */
.TimelineConnector {
  background-color: #14cc7f !important;
}
.TimelineDot {
  background-color: #14cc7f !important;
}
.slick-list{
  margin-left: 5.5% !important;
}
@media only screen and (max-width: 600px) {
  .Carousel-outer-div {
    position: relative;
    left: 10%;
    margin: 15% 0;
    /* width: 70vw; */
    overflow: hidden;
  }
  #dashboard{
    margin-top: 20%;
  }
  .carousel-heading {
    font-size: 2rem;
  }
  .slick-next {
    left: 90% !important;
  }
  .card-img {
    height: 150px;
    width: 150px;
    left: 22.5%;
  }
  .Domain-name{
    left: 0;
  }
  
}

