.container {
  /* position: absolute;
  top: 25%; */
  margin-top: 20%;
  background-color: black;
  width: 25%;
  padding: 2%;
  margin: 1%;
}
.quesContainer {
  margin-top: 20%;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.heading {
  color: white;
}
.ques {
  border: 1px solid black;
  padding: 1%;
  margin: 3% 6%;
  width: 25px;
  height: 25px;
  background-color: grey;
  border-radius: 5px;
  color: white;
  text-align: center;
}
