
* {
   font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
  
}
body{
  background-color: #050D13;
}
.css-bshv44-MuiButtonBase-root-MuiListItem-root{
  margin: 25px 0 !important;
}
.MuiPaper-root{
  background-color: rgba(77,77,77,0.2) !important;
}

.home-heading{
  color: white;
  position: relative;
  /* top: 10%;
  left: 10%;
  bottom: 10%; */
  margin: 10% 5% ;
  font-size: 4rem;
  line-height: 1.5;
}
.home-registration{
  margin: 10% 5% ;
}

.home-registration h2{
  font-weight: normal;
  color: white;
  line-height: 1.5;
  font-size: 1.5rem;
}

.css-9y1egq-MuiButtonBase-root-MuiButton-root{
  margin-top: 24px !important;
  color: #14CC7F !important;
  border-color: #14CC7F !important;
  font-size: 1rem !important;
}
.registration-innerdiv{
  width: fit-content;
  text-align: center;
}

.quiz-heading{
  
  text-align: center;
  position: relative;
  top: 50px;  
  font-size: 4rem;
  color: white;
  font-weight: lighter;
}
#quiz-instruction-time{
  position: relative;
  top: 100px;
}
.quiz-instruction-alignleft {
  color: white;
	float: left;

}
.quiz-instruction-alignright {
  color: white;
	float: right;
  position: relative;
  right: 50px;
}

.quiz-instructions-list{
  
  color: white;
  position: relative;
  top: 150px;
  right: 20px;
  font-size: 1rem;
  line-height: 1.5;
  list-style: none;
  text-align: left;
  
}

.quiz-instructions-list li::before{
    /* Add content: \2022 is the CSS Code/unicode for a bullet */
    /* //color: red; Change the color */
    /* font-weight: bold; If you want it to be bold */
    /* display: inline-block; Needed to add space between the bullet and the text */
    /* width: 1em; Also needed for space (tweak if needed) */
    /* margin-left: -1em; Also needed for space (tweak if needed) */
    font-size: 200%;
    padding-right: 5px;
    content: "•"; color: #14CC7F;
    display: inline-block; width: 1em;
    margin-left: -1em
  } 
.css-jh47zj-MuiButtonBase-root-MuiButton-root{
  position: absolute !important;
  left: 45% !important;
  bottom: 7.5% !important;
  
  background-color: #14CC7F !important;
  font-size: 1rem !important;
}

